.body {
  background-color: endeded;
}

.card-border {
  border-radius: 15px;
}

.home {
  display: grid;
}

.responsiv {
  display: grid !important;
  min-height: 600px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
  margin-right: 50px;
}

.in-flex {
  flex: 1;
}

.protectoraocasa {
  color: #495969;
}

.buttonmpas {
  text-align: right;
}

.buttoninicio {
  align-items: left;
}

.buttonregi {
  text-align: center;
}
#registerbutton {
  text-align: left;
}

.butitle {
  color: #66829d !important;
  font: 18px fantasy !important;
}

.ctitle {
  background-color: #dbb839 !important;
  color: #66829d !important;
}

.botonmascota{
  background-color: #dbb839 !important;
  color:rgb(36, 78, 155);
  font: 30px fantasy;
  width:150px;
  font-size: 20px;
  text-align-last:center;
  position: relative;
  top: -230px;
  
}

.bcontactanos {
  background-color: hsl(47, 69%, 54%) !important;
  color: #66829d;
  border: 6px solid rgb(249, 243, 243);
  font: 18px fantasy;
  width: 50%;
}

.titlecard {
  font-family: "Merriweather", serif;
  font: 25px fantasy;
  color: #66829d;
}

.m-5 {
  margin: 20px;
}

.text-card {
  font-family: "Merriweather", serif;
  font: 14px fantasy;
}

.ciudadcard {
  font-family: "Merriweather", serif;
  font: 14px fantasy;
}

.dispcard {
  font-family: "Merriweather", serif;
  font: 14px fantasy;
}

.animalcard {
  font-family: "Merriweather", serif;
  font: 14px fantasy;
}

.cardrespo {
  display: flex;
  height: 316px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: unset;
}
.card {
  background-color: transparent;
  border: 0px;
}
